
.app-container{
    display: flex;
}
.content{
    width: 100%;
}
.maincontent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sidebar{
    min-height: 800px;
}
.stylepost{
    margin: 25px 10px;
    min-height: fit-content;
}
.hastag{
    margin: 0 3px;
}
.btns{
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btns:hover{
    scale: 1.3;
}
.reactions{
    margin: 15px 0 0 0;
}
.createpost{
    margin-top: 10%;
    margin-left: 10%;
    width:80%;
}
.hero{
    margin: 20px 30px;
}
.spinner{
    margin: 5% 0;
}